.google-btn{
    margin-top: 15px ;

    img{
        margin-right: 6px;
    }
}

.baln{
    background-color: black;
}

.select{
    background-color: transparent;
    border:none;
    color: white;
    margin-left: 6px;
}