.google-btn {
  margin-top: 15px;
}
.google-btn img {
  margin-right: 6px;
}

main {
  height: 100vh !important;
}

.baln {
  background-color: black;
}

.form-select {
  background-color: transparent !important;
  border: none;
  margin-left: 6px;
  width: 90px;
}
.form-select option {
  background-color: black;
  border: none;
}

#quick-action {
  padding: 20px;
  border-radius: 20px !important;
}

.mt-3 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-1 {
  margin-top: 10px;
}

.item-quick {
  position: relative;
  text-decoration: none;
  align-items: center;
  padding: 15px;
  border: 1.5px solid rgb(42, 42, 42);
  border-radius: 10px;
  color: white;
}
.item-quick:hover {
  border: 1.5px solid rgb(37, 62, 255);
}
.item-quick span {
  margin-left: 10px;
  color: white;
  font-size: 14px;
}
.item-quick img {
  position: absolute;
  right: 10px;
}

.other-action {
  padding: 10px;
  border: 1.5px solid rgb(42, 42, 42);
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
  text-decoration: none;
}
.other-action:hover {
  border: 1.5px solid rgb(37, 62, 255);
}
.other-action span {
  color: white;
}

#coin-amt {
  text-align: right;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.header input {
  padding: 5px;
  padding-left: 15px;
}
.header .hold-it {
  display: flex;
  text-align: right;
  justify-content: right;
  padding: 2px;
}
.header .hold-it a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(72, 72, 72);
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.header .hold-it a:nth-child(2) {
  margin-left: 10px;
}

#action-quick {
  position: relative;
  height: 55vh;
  margin-top: 15px;
}

body {
  height: 100vh;
}

.hp-main-layout {
  height: 100vh;
  overflow-y: auto;
}
.hp-main-layout::-webkit-scrollbar {
  visibility: hidden;
}

.bottom-menu {
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(25, 25, 25);
  gap: 20px;
}
.bottom-menu a {
  text-decoration: none;
  color: gray;
  text-align: center;
  scale: 0.8;
}
.bottom-menu a svg {
  fill: gray;
}
.bottom-menu a span {
  color: gray;
}
.bottom-menu a:active {
  color: white;
}

#passcode {
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#passcode input {
  text-align: center;
}

#coin-view-hold {
  width: 70%;
  height: 100vh;
  position: relative;
  left: 15%;
  border: none;
}
#coin-view-hold #quick-action {
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}
#coin-view-hold .coin-header {
  margin-top: 20px;
  align-items: center;
  display: flex;
}
#coin-view-hold .coin-header img {
  width: 40px;
  height: 40px;
  position: relative;
  top: -5px;
}
#coin-view-hold .coin-header .hod {
  position: relative;
  left: 3px;
}
#coin-view-hold .coin-header .hod .h4 {
  font-weight: bold;
  margin-left: 10px;
}
#coin-view-hold .coin-header .hod span {
  float: left;
  position: relative;
  top: -10px;
  margin-left: 6px;
}
#coin-view-hold .char-box {
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
#coin-view-hold .char-box #the-view {
  height: 100%;
  margin: 0 auto;
}

.coin-head img {
  width: 40px;
  height: 40px;
  position: relative;
  top: -3px;
}
.coin-head .hod {
  position: relative;
  margin-left: 8px;
}
.coin-head .hod:nth-child(1) .text-gray {
  color: gray;
}
.coin-head .hod .h4 {
  font-weight: bold;
  margin-top: 4px;
}
.coin-head .hod .rate {
  font-size: 14px;
  font-weight: 500;
}

.text-gray {
  color: gray;
}

.coin-right {
  text-align: right;
  position: relative;
  right: 10px;
}
.coin-right .h4 {
  font-weight: bold;
  margin-top: 4px;
}

#coin-list-hold {
  width: 100%;
  border: none;
  height: 80vh;
  overflow: auto;
  position: relative;
  display: flex;
  align-items: center;
}
#coin-list-hold::-webkit-scrollbar {
  visibility: hidden;
}
#coin-list-hold #coin-list-card {
  width: 65%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  margin-bottom: 100px;
}
#coin-list-hold #coin-list-card .header {
  padding: 0;
  position: sticky;
  top: 0px;
  background-color: #141414;
}
#coin-list-hold #coin-list-card .header .h5 {
  margin-top: 15px;
}

#send-hold {
  border: none;
  width: 50%;
  position: relative;
  height: 400px;
  left: 25%;
  top: calc(50% - 250px);
  padding: 20px;
}
#send-hold .qr-hold {
  width: 200px;
  height: 200px;
  background-color: white;
  position: relative;
  left: calc(50% - 100px);
  border-radius: 15px;
}

@media screen and (max-width: 800px) {
  #send-hold {
    width: 100%;
    left: 0%;
  }
  #coin-list-hold #coin-list-card {
    width: 100%;
    background-color: transparent;
  }
  #coin-list-hold #coin-list-card .header {
    background-color: #1F1F1F;
  }
  .coin-head img {
    width: 30px;
    height: 30px;
  }
  .coin-head .hod {
    scale: 0.7;
    margin-left: -10px;
  }
  #action-quick {
    height: 300px;
    margin-top: 15px;
    overflow-y: auto;
    margin-bottom: 200px;
    overflow-x: hidden;
  }
  #action-quick::-webkit-scrollbar {
    visibility: hidden;
  }
  .hp-main-layout-content {
    height: 100px !important;
    overflow-y: hidden;
  }
  .hp-main-layout-content .scrol {
    margin-top: 15px;
    position: relative;
    height: 90vh;
    overflow-y: auto;
    background-color: red;
    margin-bottom: 20px;
  }
  .hp-main-layout-content .scrol::-webkit-scrollbar {
    visibility: hidden;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #hide {
    display: none !important;
  }
  #baln {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  #coin-view-hold {
    width: 100%;
    left: 0%;
    height: 100vh;
  }
  #coin-view-hold .coin-scroll {
    height: 700px;
    overflow-y: auto;
    margin-bottom: 200px;
    overflow-x: hidden;
  }
  #coin-view-hold .coin-scroll::-webkit-scrollbar {
    visibility: hidden;
  }
  .tran-item-8 {
    scale: 0.8;
  }
  .tran-item-7 {
    scale: 0.7;
  }
  .tran-item-9 {
    scale: 0.9;
  }
}/*# sourceMappingURL=style.css.map */