.google-btn{
    margin-top: 15px ;

    img{
        margin-right: 6px;
    }
}

.baln{
    background-color: black;
}

.form-select{
    background-color: transparent !important;
    border:none;
    margin-left: 6px;
    width: 90px;
    option{
        background-color: black;
        border: none;
    }
}

#quick-action{
    padding: 20px;
}

.mt-3{
    margin-top: 30px;
}

.mt-2{
    margin-top: 20px;
}

.mt-1{
    margin-top: 10px;
}


.item-quick{
    position: relative;
    text-decoration: none;
    align-items: center;
    padding: 15px;
    border: 1.5px solid rgb(42, 42, 42);
    border-radius: 10px;
color: white;

&:hover{
    border: 1.5px solid rgb(37, 62, 255); 
}

span{
    margin-left: 10px;
    color: white;
    font-size: 14px;
}
img{
    position: absolute;
    right: 10px;
}
}

.other-action{
    padding: 10px;
    border: 1.5px solid rgb(42, 42, 42);
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    text-decoration: none;

    &:hover{
        border: 1.5px solid rgb(37, 62, 255); 
    }
   
    span{
        color: white;
    }
}

#coin-amt{
    text-align: right;
}
#m-over{
    display: none !important;
}

@media screen and (max-width:800px){
    #crypto-ls{
        display: none;
    }
    #quicky-des{
        display: none !important;
    }
    #hide{
        display: none !important;
    }

    .baln{
        position: sticky !important;
        top: 20px !important;
        margin-top: -30px !important;
    }
    #m-over{
        display:block !important;
        height: 100vh;
        overflow-y: auto;
    }
}