.google-btn{
    margin-top: 15px ;

    img{
        margin-right: 6px;
    }
}

main{
  height: 100vh !important;
}


.baln{
    background-color: black;
}

.form-select{
    background-color: transparent !important;
    border:none;
    margin-left: 6px;
    width: 90px;
    option{
        background-color: black;
        border: none;
    }
}

#quick-action{
    padding: 20px;
    border-radius: 20px !important;
}

.mt-3{
    margin-top: 30px;
}

.mt-2{
    margin-top: 20px;
}

.mt-1{
    margin-top: 10px;
}


.item-quick{
    position: relative;
    text-decoration: none;
    align-items: center;
    padding: 15px;
    border: 1.5px solid rgb(42, 42, 42);
    border-radius: 10px;
color: white;

&:hover{
    border: 1.5px solid rgb(37, 62, 255); 
}

span{
    margin-left: 10px;
    color: white;
    font-size: 14px;
}
img{
    position: absolute;
    right: 10px;
}
}

.other-action{
    padding: 10px;
    border: 1.5px solid rgb(42, 42, 42);
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;
    text-decoration: none;

    &:hover{
        border: 1.5px solid rgb(37, 62, 255); 
    }
   
    span{
        color: white;
    }
}

#coin-amt{
    text-align: right;
}

.header{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  input{
    padding: 5px;
    padding-left:15px ;
  }

  .hold-it{
    display: flex;
    text-align: right;
    justify-content: right;
    padding: 2px;
    a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 1px solid rgb(72, 72, 72);
        width: 45px;
        height: 45px;
        border-radius: 10px;

        &:nth-child(2){
            margin-left: 10px;
        }
    

    }
  }
 
}

#action-quick{
    position: relative;
    height: 55vh;
    margin-top: 15px;
}

body{
    height: 100vh;
}

.hp-main-layout{
    height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar{
        visibility: hidden;
    }
}

.bottom-menu{
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(25, 25, 25);
    gap: 20px;

    a{
        text-decoration: none;
        color: gray;
        text-align: center;
        scale: 0.8;
        svg{
            fill: gray;
        }
        span{
            color: gray;
        }
        &:active{
            color: white;
        }
    }
}

#passcode{
    justify-content: center;
    align-items: center;
    gap: 20px;
    input{
        text-align: center;
    }
}

#coin-view-hold{
    width: 70%;
    height: 100vh;
    position: relative;
    left: calc(50% - 35%);
    border: none;
    
    #quick-action{
        border-radius: 10px;
        border: none;
        margin-top: 20px;
    }

    .coin-header{
        margin-top: 20px;
        align-items: center;
        display: flex;
        img{
            width: 40px;
            height: 40px;
            position: relative;
            top: -5px;
        }
        .hod{
            position: relative;
            left: 3px;
            .h4{
                font-weight: bold;
                margin-left: 10px;
            }
            span{
               float: left;
                position: relative;
                top: -10px;
                margin-left: 6px;
            }
        }
     
    }

    .char-box{
        width: 100%;
        height: 400px;
        padding: 20px;
        border-radius: 10px;
        margin-top:20px;

        #the-view {
        height:100%; 
        margin:0 auto;
        }

      
    }
}

.coin-head{
    img{
        width: 40px;
        height: 40px;
        position: relative;
        top:-3px;
    }
    .hod{
        position: relative;
        margin-left: 8px;
        &:nth-child(1){
            .text-gray{
                color: gray;
            }
           

        }
        .h4{
            font-weight: bold;
            margin-top: 4px;
        }
        .rate{
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.text-gray{
    color: gray;
}

.coin-right{
    text-align: right;
    position: relative;
    right: 10px;
    .h4{
font-weight: bold;
margin-top:4px;
    }
}

#coin-list-hold{
    width: 100%;
    border: none;
    height: 80vh;
    overflow: auto;
    position: relative;
    display: flex;
    align-items: center;
     &::-webkit-scrollbar{
        visibility:hidden;
     }

    #coin-list-card{
        width: 65%;
        padding: 20px;
        border-radius: 20px;
        border: none;
    margin-bottom: 100px;


        .header{
            padding: 0;
            position: sticky;
            top: 0px;
            background-color: #141414;
            .h5{
                margin-top: 15px;
            }
        }
    }
}

#send-hold{
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:800px){

    #coin-list-hold{
        #coin-list-card{
            width: 100%;
            background-color: transparent;

            .header{
               background-color:#1F1F1F;
            }
        }
    }

    .coin-head{
        img{
            width: 30px;
            height: 30px;
        }
        .hod{
            scale: 0.7;
            margin-left: -10px;
        }
    }
  

    #action-quick{
        height:300px;
        margin-top: 15px;
        overflow-y: auto;
        margin-bottom: 200px;
        overflow-x: hidden;

        &::-webkit-scrollbar{
            visibility: hidden;
        }
    }
    

    // .hp-main-layout{
    //     height: 100% !important;
    //     overflow-y: auto;

    // }

    .hp-main-layout-content{
        height: 100px !important;
        overflow-y: hidden;
      

        .scrol{
            margin-top: 15px;
            position: relative;
            height: 90vh;
            overflow-y:auto;
            background-color: red;
            margin-bottom: 20px;
            &::-webkit-scrollbar{
                visibility: hidden;
            }
        }
    }
    
   

    .header{
        position: sticky;
        top: 0;
        z-index: 100;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #hide{
        display: none !important;
    }

    #baln{
     position: sticky;
     top: 0;
     z-index: 10;
       
    }

    #coin-view-hold{
        width: 100%;
        left: calc(50% - 50%);
        height: 100vh;

        .coin-scroll{
          height: 700px;
            overflow-y: auto;
            margin-bottom: 200px;
            overflow-x: hidden;

            &::-webkit-scrollbar{
                visibility: hidden;
            }
        }
    }

.tran-item-8{
    scale: 0.8;
}

.tran-item-7{
    scale: 0.7;
}

.tran-item-9{
    scale: 0.9;
}


}